<div class="header container-fluid">
    <h2 class="pb-5 mb-4 font-italic border-bottom">Angular 9 for Beginners - Components and String Interpolation </h2>
</div>
<div class="container-fluid text-muted text-right">Updated on 24-11-21</div>
<div class="container">
    <div class="pb-3 mb-4 font-italic border-bottom pb-3">
        <div class="img-square-wrapper text-center ">
            <img class=""
                src="https://www.freecodecamp.org/news/content/images/size/w2000/2020/04/Copy-of-Copy-of-Travel-Photography-1.png"
                alt="Card image cap">
        </div>


        <div class="row mt-5">
            <div class="col-md-8 blog-main">

                <div class="card-body font-18">

                    <p class="card-text text-justify">In modern web development, many developers prefer to build the UI
                        of a
                        website in a
                        component-based way. It's also
                        supported by all modern frameworks. Understanding how components work and how to use them is a
                        big step
                        in learning
                        Angular.

                        In this post, you're going to learn about Angular components, how to create and use a component
                        in a
                        project, and what
                        string interpolation is. I will also be covering other important features of Angular in my
                        upcoming
                        articles:<br><br>

                        Part 1: How to install your first App with the Angular CLI<br>
                        Part 2: Angular Components and String Interpolation (you’re here)<br>
                        Part 3: Angular Directives & Pipes<br>
                        Part 4: One-Way Data Binding in Angular<br>
                        Part 5: Angular Two-Way Data Binding with ngModel<br>
                        If you prefer, you can also watch the video version:</p>


                    <h1> What is a Component?</h1>
                    <p class="text-justify"> Components are the most basic building blocks of an Angular application. We
                        can
                        think of components like
                        LEGO pieces. We
                        create a component once but can use them many times as we need in different parts of the
                        project.

                        An Angular component is made of 3 main parts:<br><br>
                    <ul class="">
                        <li>HTML Template —View</li>
                        <li>TypeScript File — Mode</li>
                        <li>CSS File — Styling</li>
                    </ul>




                    <h1> Why do we need Components?</h1>
                    <p> Using components is beneficial in many ways. Components divide the UI into smaller views and
                        render
                        data. A component
                        should not be involved in tasks like making HTTP requests, service operations, routing, and so
                        on. This
                        approach keeps
                        the code clean and separates the view from other parts (see separation of concerns).</p>

                    <p>Another important reason is that components divide the code into smaller, reusable pieces.
                        Otherwise, we
                        would have to
                        include endless lines of code in a single HTML file, which makes the code much harder to
                        maintain.</p>
                </div>




            </div><!-- /.blog-main -->

            <aside class="col-md-4 blog-sidebar">
                <div class="p-3 mb-3 bg-light rounded">
                    <h4 class="font-italic">Summary</h4>
                    <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur
                        purus sit
                        amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                </div>

                <div class="p-3">
                    <h4 class="font-italic">My Other's Blogs</h4>
                    <ol class="list-unstyled mb-0">
                        <li><a href="#">March 2014</a></li>
                        <li><a href="#">February 2014</a></li>
                        <li><a href="#">January 2014</a></li>
                        <li><a href="#">December 2013</a></li>
                        <li><a href="#">November 2013</a></li>
                        <li><a href="#">October 2013</a></li>
                        <li><a href="#">September 2013</a></li>
                        <li><a href="#">August 2013</a></li>
                        <li><a href="#">July 2013</a></li>
                        <li><a href="#">June 2013</a></li>
                        <li><a href="#">May 2013</a></li>
                        <li><a href="#">April 2013</a></li>
                    </ol>
                </div>


            </aside><!-- /.blog-sidebar -->

        </div>

    </div>
</div>